from_latest_tag = false
ignore_merge_commits = false
ignore_fixup_commits = true
disable_changelog = false
disable_bump_commit = false
generate_mono_repository_global_tag = true
generate_mono_repository_package_tags = true
branch_whitelist = []
skip_ci = "[skip ci]"
skip_untracked = false
pre_bump_hooks = [
  "jq '.version |= \"{{version}}\"' package.json > package.json.tmp && mv package.json.tmp package.json",
  "cd ./app && pnpm prettier --write package.json src/lib/version.ts",
  "git add :/package.json"
]
post_bump_hooks = [
  "git push --atomic origin master {{version_tag}}"
]
pre_package_bump_hooks = []
post_package_bump_hooks = []
tag_prefix="v"

[git_hooks]
[git_hooks.commit-msg]
script = """#!/bin/sh
set -e
cog verify --file $1
cog check
pnpm lint
"""

[commit_types]

[changelog]
path = "CHANGELOG.md"
authors = []

[bump_profiles]

[packages]
